@page "/"

@inject NavigationManager NavigationManager

<PageTitle>.NET net nett</PageTitle>

<div>
<MudTimeline TimelineAlign="TimelineAlign.Start" 
        TimelineOrientation="TimelineOrientation.Vertical" 
        TimelinePosition="TimelinePosition.Top">
    <MudTimelineItem Color="Color.Success" Variant="Variant.Filled" Elevation="25" TimelineAlign="TimelineAlign.End">
        <ItemOpposite>
            <MudText Color="Color.Primary" Typo="Typo.h6">2003-heute</MudText>
            <MudText Color="Color.Dark" Typo="Typo.body2">Softwareentwicklung rund um Pannenhilfe Service</MudText>
        </ItemOpposite>
        <ItemContent>
                <MudCard>
                    <MudCardHeader Style="background-color: lightblue;">
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Kundenverwaltung, Schadenabwicklung, Datenaustausch, Web API und Web-Applikation </MudText>
                            <MudText Typo="Typo.body2"></MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Material.Filled.CarRepair" Color="Color.Default" />
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudAlert Severity="Severity.Info" Variant="Variant.Text" NoIcon="true" Elevation="5">
                            <MudText Typo="Typo.body1">Gupta Team Developer 7.x</MudText>
                            <MudText Typo="Typo.overline">agile Low-Code-Softwareentwicklungstool für Desktop-Anwendungen (Rapid Application Development)</MudText>
                            @*
                            <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="GoToGupta" Size="Size.Small">
                                <MudText Typo="Typo.overline">Mehr zu Gupta</MudText>
                            </MudButton>
                            *@
                        </MudAlert>
                        <MudAlert Severity="Severity.Info" Variant="Variant.Text" NoIcon="true" Elevation="5">
                            <MudText Typo="Typo.body1">C#: Web API und Webapplikation, Import/Export zu anderen Systemen</MudText>
                            <MudText Typo="Typo.overline">Blazor, Razor Pages, ASP.NET MVC, SignalR, CQRS, OpenTelemetry, OpenAPI, REST, SOAP</MudText>
                            <br />
                            <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="GoToCSharp" Size="Size.Small">
                                <MudText Typo="Typo.overline">Mehr zu C#</MudText>
                            </MudButton>
                            <br />
                        </MudAlert>
                        <MudAlert Severity="Severity.Info" Variant="Variant.Text" NoIcon="true" Elevation="5">
                            <MudText Typo="Typo.body1">Datenbank: MS SQL</MudText>
                            <MudText Typo="Typo.overline"></MudText>
                            <br />
                        </MudAlert>
                        <MudAlert Severity="Severity.Info" Variant="Variant.Text" NoIcon="true" Elevation="5">
                            <MudText Typo="Typo.body1">Web-Server: Linux + Windows Server</MudText>
                            <MudText Typo="Typo.overline">Windows Server mit IIS, Linux mit Docker + traefik Proxy mit Nginx/PHP/etc.</MudText>
                        </MudAlert>
                        <MudAlert Severity="Severity.Info" Variant="Variant.Text" NoIcon="true" Elevation="5">
                            <MudText Typo="Typo.body1">PHP, JavaScript: Support für Fremdsoftware</MudText>
                            <MudText Typo="Typo.overline">- WordPress, Drupal, xt-Commerce/modified eCommerce</MudText>
                            <br />
                            <MudText Typo="Typo.overline">- Slim Framework mit Twig View und Monolog</MudText>
                            <br />
                            <MudText Typo="Typo.overline">- Arbeit mit versch. Admin Dashboard Themes (bootstrap based): AdminLTE, Now UI, PaperKit, MaterialKit, ... </MudText>
                            <br />
                            <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="GoToPHP" Size="Size.Small">
                                <MudText Typo="Typo.overline">Mehr zu PHP</MudText>
                            </MudButton>
                        </MudAlert>

                    </MudCardContent>
                    @*
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn more</MudButton>
                    </MudCardActions>
                    *@
                </MudCard>
            
        </ItemContent>
    </MudTimelineItem>
    <MudTimelineItem Color="Color.Default" Variant="Variant.Filled" Elevation="25" TimelineAlign="TimelineAlign.End">
        <ItemOpposite>
            <MudText Color="Color.Primary" Typo="Typo.h6">1999-2003</MudText>
            <MudText Color="Color.Dark" Typo="Typo.body2">Softwareentwicklung für med. Labore</MudText>
        </ItemOpposite>
        <ItemContent>
                <MudCard>
                    <MudCardHeader Style="background-color: lightblue;">
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Schlaflabore und Labore für Blutuntersuchung</MudText>
                            <MudText Typo="Typo.body2">DRG, LDT, Lesegerät für KVK, ...</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Material.Filled.MedicalServices" Color="Color.Default" />
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudAlert Severity="Severity.Info" Variant="Variant.Text" NoIcon="true" Elevation="5">
                            <MudText Typo="Typo.body1">Centura Team Developer 1.x-3.x</MudText>
                            <MudText Typo="Typo.body1">Datenbank: Informix + DB2</MudText>
                            <MudText Typo="Typo.body1">Perl: Import/Export/Extrahieren von Daten, direktes Drucken für Nadel- und PostScript-Drucker</MudText>
                            <MudText Typo="Typo.body1">C: serielle Anbindung an Laborgeräte</MudText>
                        </MudAlert>
                                             
                    </MudCardContent>
                    @*
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn more</MudButton>
                    </MudCardActions>
                    *@
                </MudCard>                
            
        </ItemContent>
    </MudTimelineItem>    
</MudTimeline>
</div>

@code {

    void GoToGupta()
    {
        NavigationManager.NavigateTo("gupta");
    }

    void GoToPHP()
    {
        NavigationManager.NavigateTo("php");
    }

    void GoToCSharp()
    {
        NavigationManager.NavigateTo("csharp");
    }
}