@page "/"
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>.NET net nett</PageTitle>

@if (counter > 0)
{
    <h1>Redirecting in @counter</h1>
}
else
{
    <h1>Redirecting now...</h1>
    <p><a href="help">Click here if you are not redirected.</a></p>
    Navigation.NavigateTo("programming/1");
}

@code
{
    private int counter = 10;

    protected override async Task OnInitializedAsync()
    {
        while (counter > 0)
        {
            counter--;            
            await Task.Delay(TimeSpan.FromSeconds(1));
            StateHasChanged();
        }
    }
}


